.sign_in {
    max-width: 350px;
}



.categories-list a {
    text-decoration: none;
}


.categories-list .card  {
    transition-duration: 0.5s;
}

.categories-list  .card:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}